<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://co2neutral.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>co2neutral.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>co2neutral</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$co2neutral</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CO2Neutral_MVC.Models.UsersContext, CO2Neutral_MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BD_TestEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=uk125z0bfb.database.windows.net;Initial Catalog=BD_Test;User ID=rmorales;Password=CO2neutral;Application Name=EntityFramework" Name="Data Source=uk125z0bfb.database.windows.net;Initial Catalog=BD_Test;User ID=rmorales;Password=CO2neutral;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CO2Neutral_MVC.Models.BD_TestEntities, CO2Neutral_MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BD_TestEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModeloCO2Neutral.csdl|res://*/Models.ModeloCO2Neutral.ssdl|res://*/Models.ModeloCO2Neutral.msl;provider=System.Data.SqlClient;provider connection string="Data Source=uk125z0bfb.database.windows.net;Initial Catalog=BD_Test;User ID=rmorales;Password=CO2neutral;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>